doctype html
html
    head
        title Thư viện địa phương
        link(rel="stylesheet", href="/styles/style.css") 
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        mixin navLink(text, url)
            label.nav-link(data-url=url)= text
            br
    body
        .container-flex
            .sidebar
                h2 Thư viện MrNDN

                +navLink('Danh sách sách', '/books/partial')
                +navLink('Danh sách tác giả', '/authors/partial')
                +navLink('Danh sách thể loại', '/genres/partial')
                +navLink('Danh sách bản sao', '/bookInstances/partial')

                hr

                +navLink('Thêm mới sách', '')
                +navLink('Thêm mới tác giả', '')
                +navLink('Thêm mới thể', '')
                +navLink('Thêm mới bản sao sách', '')

                hr
            #content
                p Chào mừng đến với hệ thống thư viện!

            script.
                $('.nav-link').click(function () {
                    const url = $(this).data('url');
                    if (url) {
                    $('#content').load(url, function (response, status, xhr) {
                        if (status === 'error') {
                        alert('Lỗi khi tải nội dung: ' + xhr.status + ' ' + xhr.statusText);
                        }
                    });
                    } else {
                    alert('Chức năng đang phát triển!');
                    }
                });


